[package]
name = "konnektoren-tui"
version = "0.1.0"
edition = "2021"

[features]
default = ["crossterm"]
crossterm = ["dep:crossterm", "ratatui/crossterm"]

[dependencies]
crossterm = { version = "0.27.0", optional = true }
ratatui = { version = "0.26.2", features = ["serde"], default-features = false }
konnektoren-core = { path = "../konnektoren-core" }
