[package]
name = "konnektoren-tests"
version = "0.1.0"
edition = "2021"

[dependencies]
konnektoren-core = { path = "../konnektoren-core" }

[dev-dependencies]
cucumber = "0.20"
tokio = { version = "1.37", features = ["macros", "rt-multi-thread", "time"] }

[[test]]
name = "bdd_tests"
harness = false
